<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>KKShop Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav>
    <div class="container nav-wrapper">
        <a href="http://127.0.0.1:8000/admin/" class="brand-logo">KKShop</a>
        <ul id="nav-mobile" class="right">
            <li><a href="http://127.0.0.1:8000/admin/">Home</a></li>
            <li><a href="http://127.0.0.1:8000/products/">Products</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 style="text-align: center; padding-top: 20px">Products</h1>
{% block content %}

{% endblock %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
